
<MudAppBar Fixed="false">
    <h3>MPM-Smart</h3>
    <MudSpacer/>
    <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.Start"/>
</MudAppBar>




@code {
    
}