<MudAppBar Fixed="true">
    <h3 style="cursor: pointer; margin: 0;" @onclick="NavigateToHome">MPM-Smart</h3>
    <MudSpacer/>
    <MudIconButton Href="/login" Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.Start"/>
</MudAppBar>




@code {
        [Inject]
        private NavigationManager? NavigationManager { get; set; }

        private void NavigateToHome()
        {
            NavigationManager.NavigateTo("/HomePage"); 
        }
}