@page "/home"
@using Frontend.Services
@using Microsoft.AspNetCore.Authorization
@layout MainLayout
@attribute [Authorize]
@inject ApiAccessor Api

<h1>Dashboard</h1>

@if (m_Error is not null)
{
    <MudText Typo="Typo.body1" Color="Color.Error">@m_Error</MudText>
}

@if (m_ChartData is null)
{
    <MudText>Loading...</MudText>
}
else
{
    <MudGrid Class="p-3">
        @foreach (var chart in m_ChartData)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardContent>
                        <MudChart ChartType="ChartType.Line" ChartSeries="chart" Height="250px"/>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}

@code {

    private List<List<ChartSeries>>? m_ChartData;
    private string? m_Error;

    protected override Task OnInitializedAsync()
    {
        m_ChartData =
        [
            new List<ChartSeries>
            {
                new()
                {
                    Name = "Test",
                    Data = [1, 2, 3, 4, 5]
                }
            }
        ];
        return Task.CompletedTask;
    }

}