@page "/Login"
@layout LoginLayout

<MudForm Spacing="2" Class="Login-Form">

    <h1 class="Login-Heading">Sign In</h1>
    <MudTextField T="string" Label="Username" Variant="Variant.Filled"/>
    <MudTextField T="string" Label="Password" InputType="InputType.Password" Variant="Variant.Filled"/>
    <div class="Login-RememberMe">
        <MudCheckBox @bind-Value="RememberMe">Remember Me?</MudCheckBox>
        <MudLink Href="#">Forgot Password?</MudLink>
    </div>
    <MudButton Class="Login-Button" Href="/Dashboard" Variant="Variant.Filled" Color="Color.Primary">Login</MudButton>
</MudForm>






@code {
    public bool RememberMe { get; set; }
}