@using System.ComponentModel.DataAnnotations
<MudDialog >
    <TitleContent>
        Device Settings
    </TitleContent>
    <DialogContent>
        <MudContainer Style="height: 600px" Class="d-flex flex-row">
            <p>DARKNESS</p>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary"  OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance? MudDialog { get; set; }
    

    private void Submit()
    {
        if(MudDialog is not null)
            MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel()
    {
        if(MudDialog is not null)
            MudDialog.Cancel();
    }

}