@inherits LayoutComponentBase
@using Frontend.Components


<MudLayout Class="Login">
    <MudAppBar Fixed="true">
        <h3>MPM-Smart</h3>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.Start"/>
    </MudAppBar>
    <MudCard Class="Login-Card">
        @Body
    </MudCard>
</MudLayout>




<MudThemeProvider IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />