@inherits LayoutComponentBase
@using Frontend.Components


<MudLayout Class="Login">
    <MudAppBar >
        <div Class="Login-Header">
            <h3>MPM-Smart</h3>
            <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.Start"/>
        </div>
        
    </MudAppBar>
    <MudCard Class="Login-Card">

        @Body
    </MudCard>
</MudLayout>




<MudThemeProvider IsDarkMode="true" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />