@page "/Community"
@using Server.UI.Layout
<PageTitle>Community</PageTitle>
<h3>Community</h3>

@code {
    [CascadingParameter] public required MainLayout MainLayout { get; set; }

    protected override void OnInitialized()
    {
        MainLayout.Title = "Community";
    }

}