@page "/Devices"
@using Server.UI.Layout
<PageTitle>Devices</PageTitle>
<h3>Devices</h3>

@code {
    [CascadingParameter] public required MainLayout MainLayout { get; set; }

    protected override void OnInitialized()
    {
        MainLayout.Title = "Devices";
    }

}