@page "/Plugin-Upload"
@using Azure.Storage.Blobs
@using Server.UI.Layout

@inject BlobServiceClient BlobServiceClient

<PageTitle>Plugin Upload</PageTitle>
<h3>Plugin_Upload</h3>

<p>@BlobServiceClient.Uri</p>

<div>
    <InputFile OnChange="HandleFileSelected" />
</div>

@code {
    [CascadingParameter] public required MainLayout MainLayout { get; set; }

    protected override void OnInitialized()
    {
        MainLayout.Title = "Plugin Index";
        
        
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var client = BlobServiceClient.GetBlobContainerClient("plugins");
        var blobClient = client.GetBlobClient(file.Name);

        await using (var stream = file.OpenReadStream())
        {
            await blobClient.UploadAsync(stream, true);
        }

        StateHasChanged();
    }
}