@using System.IdentityModel.Tokens.Jwt
@using Blazored.LocalStorage
@using Frontend.Pages.General
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Nav
@inject ILocalStorageService Storage

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @code {
                        protected override async Task OnInitializedAsync()
                        {
                            var controller = await Storage.GetItemAsync<HomePage.ControllerInfo>("current-controller");
                            if (controller is null)
                                return;
                            var token = await Storage.GetItemAsStringAsync($"authToken-{controller.Address}:{controller.Port}");
                            if (string.IsNullOrEmpty(token))
                            {
                                Nav.NavigateTo("/");
                                return;
                            }

                            if (new JwtSecurityToken(token).ValidTo < DateTime.Now)
                                Nav.NavigateTo("/");
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Page not found!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
