@using System.IdentityModel.Tokens.Jwt
@using Blazored.LocalStorage
@using Frontend.Pages.General
@using Frontend.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject TokenHandler Handler

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @code {

                        protected override async Task OnInitializedAsync()
                        {
                            await Handler.CheckToken();
                        }

                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Page not found!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
