@page "/Settings/General"
@using System.Runtime.InteropServices.JavaScript
@using Frontend.Services
@layout MainLayout

@inject ApiAccessor accessor


<MudContainer MaxWidth="MaxWidth.Small" Class="mt-6">

    <MudText Typo="Typo.h5" Align="Align.Left" Class="mb-4">Allgemeine Einstellungen</MudText>

    <MudPaper Class="p-2 mb-4" Elevation="2">
        <MudStack Spacing="1" Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexStart">
            <MudTextField Label="Systemname" Variant="Variant.Outlined" @bind-Value="systemname" FullWidth="true"/>
        </MudStack>
    </MudPaper>

    <MudPaper Class="p-2 mb-4" Elevation="2">
        <MudStack Spacing="1" Row="true" AlignItems="AlignItems.Start" Justify="Justify.FlexStart">
            <MudSelect T="string" Label="Zeitzone auswählen" Variant="Variant.Outlined" @bind-Value="selectedTimeZone">
                @foreach (var timeZone in TimeZones)
                {
                    <MudSelectItem T="string" Value="timeZone">@timeZone</MudSelectItem>
                }
            </MudSelect>
        </MudStack>
    </MudPaper>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-2" OnClick="SaveSettings">Einstellungen speichern</MudButton>

</MudContainer>
<div></div>
@code {
    private string systemname = "Localhost";
    private string selectedTimeZone = "";
    public string ErrorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        var response = await accessor.GetTimeZones();
        if (response.Response is null)
            return;
        TimeZones = response.Response.Select(s => s.Key).ToList();

        var response1 = await accessor.GetTimeZone();
        if (response.Response is null)
            return;
        selectedTimeZone = response1.Response!;

        var response2 = await accessor.GetSettings();
        systemname = response2.Response.SystemName;

        await InvokeAsync(StateHasChanged);
    }

    private List<string> TimeZones { get; set; } = new();
    
    private async Task SaveSettings()
    {
        await accessor.SetSystemName(systemname);
        var result = await accessor.SetTimeZone(selectedTimeZone);
        if (!result.Success)
            ErrorMessage = result.Message!;

    }
}

